img{
   /* align-self: center; */
}
.logout
{
  margin-left: 1150px; 
 
}
h1
{
    text-align: center;
}
.example-card {
    max-width: 400px;
    align-self: center;
    margin: auto;
  }
  
  .example-header-image {
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;
  }
  button
  {
   margin-left: 500px;
   margin-bottom: 50px;
  }